<a href="https://colab.research.google.com/github/pola301/Machine-Learning-Training/blob/main/Assign_1_pola.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import metrics

In [52]:
dataset = pd.read_csv("/content/sample_data/gas sensor 12.csv")
dataset.head(5)

,Unnamed: 0,id,time,R1,R2,R3,R4,R5,R6,R13,R14,Temperature,Humidity,0
0,1.0,0.0,-0.999750,0.2231,0.6365,1.1493,0.8483,1.2534,1.4449,6.5806,8.6385,23.7184,49.7534,1.0
1,2.0,0.0,-0.999472,2.1314,5.3552,9.7569,6.3188,9.4472,10.5769,31.7505,41.9167,26.6200,55.8400,1.0
2,3.0,0.0,-0.999194,10.5318,22.5612,37.2635,17.7848,33.0704,36.3160,47.8255,62.9436,26.6200,55.8400,1.0
3,4.0,0.0,-0.998916,29.5749,49.5111,65.6318,26.1447,58.3847,67.5130,50.3730,64.8363,26.6200,55.8400,1.0
4,5.0,0.0,-0.998627,49.5111,67.0368,77.8317,27.9625,71.7732,79.9474,52.8453,66.8445,26.6200,55.8400,1.0

In [53]:
dataset=dataset.dropna()

In [54]:
missVal = dataset.isnull().sum()
missVal

Unnamed: 0     0
id             0
time           0
R1             0
R2             0
R3             0
R4             0
R5             0
R6             0
R13            0
R14            0
Temperature    0
Humidity       0
0              0
dtype: int64

In [55]:
xL = dataset.iloc[:,2:12]
yR= dataset.iloc[:,13:14]

In [56]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(xL,yR,test_size=0.3)
x_valid_test,x_test_test,y_valid_test,y_test_test = train_test_split(x_test,y_test , test_size=0.5,)

#KNN

In [58]:
from sklearn.neighbors import KNeighborsClassifier
algoKNN = KNeighborsClassifier(n_neighbors =5)
algoKNN.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [59]:
print(algoKNN.score(x_train,y_train)*100)
print(algoKNN.score(x_test,y_test)*100)

88.30669456525312
80.38055897795068

In [60]:
print(algoKNN.score(x_valid_test,y_valid_test)*100)
print(algoKNN.score(x_test_test,y_test_test)*100)

80.49957567763771
80.26154349515357

#KNN WEIGHTED

In [61]:
algoWKNN = KNeighborsClassifier(n_neighbors=5,metric='euclidean',weights='distance')
algoWKNN.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(metric='euclidean', weights='distance')

In [62]:
print(algoWKNN.score(x_train,y_train)*100)
print(algoWKNN.score(x_test,y_test)*100)

100.0
81.36007402598067

In [63]:
print(algoWKNN.score(x_valid_test,y_valid_test)*100)
print(algoWKNN.score(x_test_test,y_test_test)*100)

81.45762399926383
81.2625250501002

##Naive Bayes

In [64]:
from sklearn.naive_bayes import GaussianNB
algoNB = GaussianNB()
algoNB.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [65]:
print(algoNB.score(x_train,y_train)*100)
print(algoNB.score(x_test,y_test)*100)

58.97571289287163
59.04083187207002

In [66]:
print(algoNB.score(x_valid_test,y_valid_test)*100)
print(algoNB.score(x_test_test,y_test_test)*100)

59.10452644601904
58.97713794936812

In [68]:
from sklearn.naive_bayes import BernoulliNB
algoBNB = BernoulliNB()
algoBNB.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BernoulliNB()

In [69]:
print(algoBNB.score(x_train,y_train)*100)
print(algoBNB.score(x_test,y_test)*100)

53.18164389864487
53.0911470448399

In [70]:
print(algoBNB.score(x_valid_test,y_valid_test)*100)
print(algoBNB.score(x_test_test,y_test_test)*100)

53.11186773411859
53.07042656742056